# NumPy (Numerical Python)

NumPy is Linear Algebra Library for Python

NumPy enriches the programming language Python with powerful data structures for efficient computation of multi-dimensional arrays and matrices.

A NumPy Array is a grid of values, all of the same type, and is indexed by a tuple of non-negative integers.

The Module NumPy is already there when you Install Anaconda.

## The Basics(Creating arrays, shape,size,dtypes)

In [1]:
import numpy as np

Every numpy array is a grid of elements of the same type. Numpy provides a large set of numeric datatypes that you can use to construct arrays. Numpy tries to guess a datatype when you create an array, but functions that constructs arrays usually also include an optional argument (dtype) to explicitly specify the datatype.


C/C++/JAVA ~ Python

byte       ~ int8

short      ~ int16

int        ~ int32

long       ~ int64

float      ~ float32

double     ~ float64

In [2]:
arr = np.array([9,8,5,6,7,4,3,2], dtype = 'int16') #way 1 of specifying dtype

In [3]:
arr

array([9, 8, 5, 6, 7, 4, 3, 2], dtype=int16)

In [4]:
arr.shape

(8,)

In [5]:
# Array creation by passing a list
list1 = [1,2,3,3,2]
K_arr1 = np.array(list1)
print(K_arr1)

[1 2 3 3 2]

In [6]:
# 2D array Creation by passing lists

list2 = [4,5,6,6,5]
list3 = [7,8,9,9,8]

array2d = np.array([list1,list2,list3])
print(array2d)

[[1 2 3 3 2]
 [4 5 6 6 5]
 [7 8 9 9 8]]

In [7]:
# 2D Array Indexing
array2d[1:2,1:4]

array([[5, 6, 6]])

In [8]:
array2d[1:3,2:4]

array([[6, 6],
       [9, 9]])

In [9]:
print(np.__version__)

1.18.5

In [10]:
print(type(arr))

<class 'numpy.ndarray'>

In [11]:
array_2d = np.array([[1,2,3,], [4,5,6]], dtype = np.int64) #way 2 of specifying dtype

In [12]:
array_2d

array([[1, 2, 3],
       [4, 5, 6]], dtype=int64)

In [13]:
array_3d = np.array([[[1,2,3],[4,5,6],[7,8,9]]])

In [14]:
array_3d

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [15]:
#check how many dimensions does the array have:
#using ndim

In [16]:
print(arr.ndim)

1

In [17]:
print(array_2d.ndim)

2

In [18]:
print(array_3d.ndim)

3

In [19]:
#Creating an array with 5 Dimensions and verifying that it has 5 dimensions.

In [20]:
array_5d = np.array([1,2,3,4,5], ndmin = 5)

In [21]:
array_5d

array([[[[[1, 2, 3, 4, 5]]]]])

In [22]:
arr

array([9, 8, 5, 6, 7, 4, 3, 2], dtype=int16)

In [23]:
print('number of dimensions: ', array_5d.ndim)

number of dimensions:  5

In [24]:
arr_5d = np.array([[[[[1,2,3],[1,2,3],[1,2,3],[12,23,56],[56,89,47]]]]])

In [25]:
arr_5d

array([[[[[ 1,  2,  3],
          [ 1,  2,  3],
          [ 1,  2,  3],
          [12, 23, 56],
          [56, 89, 47]]]]])

In [26]:
#getting the second element from the 1-D array arr defined above
print(arr[1])

8

In [27]:
#accessing the second element from second dimension of the 2-D array named 'array_2d':
print("Second element from second dimension: ",array_2d[1,1])

Second element from second dimension:  5

In [28]:
#accessing third element of the second array of the first array:
print("Third element of the third dimension: ", array_3d[0,1,2])

Third element of the third dimension:  6

In [29]:
#accessing the second element of the second array of the first array:
print(array_3d[0,1,1])

5

In [30]:
#accessing the second element of the third array of the first array:
print(array_3d[0,2,1])

8

In [31]:
array_2d

array([[1, 2, 3],
       [4, 5, 6]], dtype=int64)

In [32]:
#Negative Indexing
#Accessing the last element of the second dimension:
print("Last element of the second Dimension: ", array_2d[1,-1])

Last element of the second Dimension:  6

In [33]:
#Slicing the array:
myarray = [1,2,3,4,5,6,7,8,9,0]
myarray

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [34]:
myarray[1:5]

[2, 3, 4, 5]

In [35]:
myarray[:5]

[1, 2, 3, 4, 5]

In [36]:
myarray[4:]

[5, 6, 7, 8, 9, 0]

In [37]:
#Negative slicing:
myarray[-7:-2]

[4, 5, 6, 7, 8]

In [38]:
#Returning every other element from index 1 to 7:
myarray[1:7:2]

[2, 4, 6]

In [39]:
#returning every other element from the entire array:
myarray[::2]

[1, 3, 5, 7, 9]

In [40]:
#Slicing 2-D array:
my_array = np.array([[1,2,3,4,5],[6,7,8,9,10]])
my_array

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [41]:
my_array[1,1:4]

array([7, 8, 9])

In [42]:
array_3d[0,1,0:1]

array([4])

In [43]:
#Getting the data type of array object:
arr.dtype

dtype('int16')

In [44]:
array_2d.dtype

dtype('int64')

In [45]:
array_3d.dtype

dtype('int32')

In [46]:
#Getting the data type of array containing strings: 
str_array = np.array(['Lamborghini','Aston Martin','Lexus'])
print(str_array)
str_array.dtype

['Lamborghini' 'Aston Martin' 'Lexus']

dtype('<U12')

In [47]:
arr.itemsize

2

In [48]:
array_2d.itemsize

8

In [49]:
array_3d.itemsize

4

In [50]:
array_5d.itemsize

4

In [51]:
arr_5d.itemsize

4

In [52]:
arr.size

8

# Accessing/Changing specific elements,rows,columns etc

In [53]:
a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])

In [54]:
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [55]:
a.shape

(2, 7)

In [56]:
a.size

14

In [57]:
#get a specific element [r,c]
a[1,4]

12

In [58]:
#get a specific elemtn usng negative indexing
a[1,-2]

13

In [59]:
#Get a specific Column
a[:,3] #getting all the rows and third column

array([ 4, 11])

In [60]:
#getting a little more fancy [startindex:endindex:stepsize]
a[0, 1:6:2] #getting the alternalte elements from 0th row
#arrayname[rownumber, startindex:endindex:stepsize]

array([2, 4, 6])

In [61]:
#Getting the alternalte elements using negative indexing
a[1, 2:-2:2]

array([10, 12])

In [62]:
#changing an element in the 2-D array
a[1,5] = 20
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 20 14]]

In [63]:
#changing a column of elements in the array
a[:,2] = [5] #change the 2nd column in all the rows to 5
print(a)

[[ 1  2  5  4  5  6  7]
 [ 8  9  5 11 12 20 14]]

In [64]:
a[:,3] = [9,0]
print(a)

[[ 1  2  5  9  5  6  7]
 [ 8  9  5  0 12 20 14]]

# 3-d Example

In [65]:
b = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(b)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [66]:
b[0,1,1]

4

In [67]:
b[1,0,0]

5

In [68]:
b[:,1,:]

array([[3, 4],
       [7, 8]])

In [69]:
b[:,0,:]

array([[1, 2],
       [5, 6]])

In [70]:
#replace
b[:,0,:] = [[9,9],[5,5]]
print(b)

[[[9 9]
  [3 4]]

 [[5 5]
  [7 8]]]

# Initializing different types of arrays

In [71]:
#1-D
np.zeros(8)

array([0., 0., 0., 0., 0., 0., 0., 0.])

In [72]:
#2-D
np.zeros((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [73]:
#3-D
np.ones((4,2,2))

array([[[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]]])

In [74]:
#4-D
np.ones((4,2,2,2))

array([[[[1., 1.],
         [1., 1.]],

        [[1., 1.],
         [1., 1.]]],


       [[[1., 1.],
         [1., 1.]],

        [[1., 1.],
         [1., 1.]]],


       [[[1., 1.],
         [1., 1.]],

        [[1., 1.],
         [1., 1.]]],


       [[[1., 1.],
         [1., 1.]],

        [[1., 1.],
         [1., 1.]]]])

In [75]:
#Any other number
np.full((3,3),88)

array([[88, 88, 88],
       [88, 88, 88],
       [88, 88, 88]])

In [76]:
np.full((3,3),88, dtype = 'int64')

array([[88, 88, 88],
       [88, 88, 88],
       [88, 88, 88]], dtype=int64)

In [77]:
np.full((3,3),88, dtype = 'float32')

array([[88., 88., 88.],
       [88., 88., 88.],
       [88., 88., 88.]], dtype=float32)

In [78]:
print(a)

[[ 1  2  5  9  5  6  7]
 [ 8  9  5  0 12 20 14]]

In [79]:
#Any other number (full_like)
np.full_like(a,4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]])

In [80]:
np.full(a.shape,5)

array([[5, 5, 5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5, 5, 5]])

In [81]:
d = np.eye(4) # Create an Identity matrix of 4x4
print(d)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [82]:
#Random Decimal Numbers
np.random.rand(4,5)

array([[0.72358681, 0.61417131, 0.59213029, 0.19763942, 0.78465879],
       [0.91365749, 0.45047509, 0.10814763, 0.88764084, 0.3841199 ],
       [0.30397818, 0.30284117, 0.32306979, 0.19489867, 0.16542909],
       [0.96467537, 0.54474246, 0.20545513, 0.92726286, 0.28744928]])

In [83]:
np.random.rand(4,3,3)

array([[[0.92008723, 0.52962646, 0.66925295],
        [0.55716133, 0.89803652, 0.06919452],
        [0.40808157, 0.77702989, 0.03206087]],

       [[0.34204203, 0.17887904, 0.69372771],
        [0.74826397, 0.67787515, 0.00912109],
        [0.45355027, 0.17199758, 0.79754145]],

       [[0.23670913, 0.09739324, 0.04384032],
        [0.63181644, 0.04065909, 0.04559507],
        [0.0050517 , 0.26871737, 0.60791761]],

       [[0.80529538, 0.89664016, 0.88075782],
        [0.69379086, 0.82482965, 0.24421734],
        [0.31872214, 0.10234307, 0.88664534]]])

In [84]:
#if you want to pass a shape, Use np.random.random_sample(array.shape)
np.random.random_sample(a.shape)

array([[0.05187097, 0.0180417 , 0.24728414, 0.36096662, 0.66868076,
        0.80731104, 0.77174426],
       [0.34819389, 0.37020663, 0.58011342, 0.64441005, 0.58270605,
        0.22949321, 0.6496779 ]])

In [85]:
#Random Integer Values
np.random.randint(7)
#gives the raondom integer value from range 0 to 7

3

In [86]:
np.random.randint(7,55)
#gives out a random integer between 7 and 55

24

In [87]:
np.random.randint(7,99, size = (3,3))
#gives out random integers in a 3 x 3 matrix

array([[43, 82, 20],
       [15, 47, 13],
       [55, 10, 29]])

In [88]:
np.random.randint(5,7, size = (4,5))

array([[5, 5, 6, 6, 6],
       [6, 5, 6, 6, 6],
       [6, 5, 6, 6, 5],
       [5, 6, 5, 5, 6]])

In [89]:
#The identity matrix
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [90]:
#Repeat an array
arr = np.array([[1,2,3,]])
r1 = np.repeat(arr,4,axis = 0)
print(r1)

[[1 2 3]
 [1 2 3]
 [1 2 3]
 [1 2 3]]

In [91]:
output = np.ones((5,5))
print(output)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [92]:
z = np.zeros((3,3))
z[1,1] = 9
print(z)

[[0. 0. 0.]
 [0. 9. 0.]
 [0. 0. 0.]]

In [93]:
output[1:4,1:4] = z 
print(output)

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 9. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

# Caution : Be careful while copying the array

In [94]:
a = np.array([1,2,3])
b = a
print(b)

[1 2 3]

In [95]:
b[0] = 100
print(b)

[100   2   3]

In [96]:
print(a) #copy() is not used, hence a is also the same as b

[100   2   3]

In [97]:
a = np.array([4,5,6])
b = a.copy() # using this statement, a is copied into b and the original
#alues of a are preserved
b[0] = 50
print(b)
print(a)

[50  5  6]
[4 5 6]

# Mathematics

In [98]:
a = np.array([1,2,3,4])
print(a)

[1 2 3 4]

In [99]:
a + 2

array([3, 4, 5, 6])

In [100]:
a - 2

array([-1,  0,  1,  2])

In [101]:
a * 2

array([2, 4, 6, 8])

In [102]:
a / 2

array([0.5, 1. , 1.5, 2. ])

In [103]:
b = np.array([1,0,1,0])
a + b

array([2, 2, 4, 4])

In [104]:
a ** 2

array([ 1,  4,  9, 16], dtype=int32)

In [105]:
#Take the sine
np.sin(a)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [106]:
#Taking the cosine
np.cos(a)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

In [107]:
#Element-wise Arithmetic Operations on 2D array
x = np.array([[1,2],[3,4]], dtype = np.float64)
y = np.array([[5,6],[7,8]], dtype = np.float64)

print("Addition", np.add(x,y))

print("Subtraction", np.subtract(x,y))

print("Mutiplication", np.multiply(x,y))

print("Division", np.divide(x,y))

Addition [[ 6.  8.]
 [10. 12.]]
Subtraction [[-4. -4.]
 [-4. -4.]]
Mutiplication [[ 5. 12.]
 [21. 32.]]
Division [[0.2        0.33333333]
 [0.42857143 0.5       ]]

In [108]:
#Element-wise square root; produce the array
print(np.sqrt(x))

[[1.         1.41421356]
 [1.73205081 2.        ]]

In [109]:
#Matrix Multiplication (row-column multiplication)
#Mandatory condition: No of rows of 2nd matrix should be equal to No of Columns in the 1st Matrix
matmul = x.dot(y)
print(matmul)

[[19. 22.]
 [43. 50.]]

In [110]:
# For a lot more, refer (https://numpy.org/doc/stable/reference/routines.math.html)

# Linear Algebra

In [111]:
#Matrix multiplication
a = np.ones((2,3))
print(a)

b = np.full((3,2), 2)
print(b)

np.matmul(a,b)

[[1. 1. 1.]
 [1. 1. 1.]]
[[2 2]
 [2 2]
 [2 2]]

array([[6., 6.],
       [6., 6.]])

In [112]:
#Find the determinant of a matrix
c = np.identity(3)
np.linalg.det(c)

1.0

In [113]:
# Reference Docs (https://numpy.org/doc/stable/reference/routines.linalg.html)

#Determinant
#Trace
#Singular Vector Decomposition
#Eigenvalues
#Matrix Norm
#Inverse
#Etc...

# Statistics

In [114]:
stats = np.array([[1,2,3],[4,5,6]])
stats

array([[1, 2, 3],
       [4, 5, 6]])

In [115]:
np.min(stats, axis = 1)
#gives the min of frst row and the second row
#axis = 1 means horizontally
#axis = 0 means vertically

array([1, 4])

In [116]:
np.max(stats, axis = 1)
#gives the max of first row and the second row
#axis = 1 means horizontally
#axis = 0 means vertically

array([3, 6])

In [117]:
np.sum(stats, axis = 0) # vertically

array([5, 7, 9])

In [118]:
np.sum(stats, axis = 1) # horizontallly

array([ 6, 15])

# Reorganizing arrays

In [119]:
before = np.array([[1,2,3,4,],[5,6,7,8]])
print(before)

after = before.reshape((1,8))
print(after)

after1 = after.reshape((8,1))
print(after1)

after1.reshape(4,2)

[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4 5 6 7 8]]
[[1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]
 [8]]

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [120]:
# Vertically stacking vectors

v1 = np.array([1,2,3,4])
v2 = np.array([5,6,7,8])

np.vstack([v1,v2])

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [121]:
np.vstack([v2,v1,v2,v1,v1])

array([[5, 6, 7, 8],
       [1, 2, 3, 4],
       [5, 6, 7, 8],
       [1, 2, 3, 4],
       [1, 2, 3, 4]])

In [122]:
#Horizontal stack

h1 = np.ones((2,4))
h2 = np.zeros((2,2))

np.hstack((h1,h2))

array([[1., 1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0., 0.]])

# Miscellaneous

#### Load Data from File

In [123]:
filedata = np.genfromtxt('data.txt',delimiter=',')
filedata
#abhi sara dat float datatyp mein represent ho rha hai

array([[  1.,  12.,  21.,  11., 196.,  75.,   4.,   3.,  34.,   6.,   7.,
          8.,   0.,   1.,   2.,   3.,   4.,   5.],
       [  3.,  42.,  12.,  33., 766.,  75.,   4.,  55.,   6.,   4.,   3.,
          4.,   5.,   6.,   7.,   0.,  11.,  12.],
       [  1.,  22.,  33.,  11., 999.,  11.,   2.,   1.,  75.,   0.,   1.,
          2.,   9.,   8.,   7.,   1.,  76.,  88.]])

In [124]:
filedata = filedata.astype('int32')
filedata
#by this the data is back to its original type as it is written in data.txt
#stored in C/Users/hp/data.txt

array([[  1,  12,  21,  11, 196,  75,   4,   3,  34,   6,   7,   8,   0,
          1,   2,   3,   4,   5],
       [  3,  42,  12,  33, 766,  75,   4,  55,   6,   4,   3,   4,   5,
          6,   7,   0,  11,  12],
       [  1,  22,  33,  11, 999,  11,   2,   1,  75,   0,   1,   2,   9,
          8,   7,   1,  76,  88]])

### Boolean Masking and advanced Indexing

In [125]:
filedata > 50

array([[False, False, False, False,  True,  True, False, False, False,
        False, False, False, False, False, False, False, False, False],
       [False, False, False, False,  True,  True, False,  True, False,
        False, False, False, False, False, False, False, False, False],
       [False, False, False, False,  True, False, False, False,  True,
        False, False, False, False, False, False, False,  True,  True]])

In [126]:
filedata[filedata > 50]

array([196,  75, 766,  75,  55, 999,  75,  76,  88])

In [127]:
#You can index with a list in NumPy
a = np.array([1,2,3,4,5,6,7,8,9])
a[[1,2,8]]

array([2, 3, 9])

In [128]:
 np.any(filedata >50, axis = 0)

array([False, False, False, False,  True,  True, False,  True,  True,
       False, False, False, False, False, False, False,  True,  True])

In [129]:
np.any(filedata > 50, axis = 1)

array([ True,  True,  True])

In [130]:
(filedata >50) & (filedata < 100)

array([[False, False, False, False, False,  True, False, False, False,
        False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False,  True, False,  True, False,
        False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False,  True,
        False, False, False, False, False, False, False,  True,  True]])

In [131]:
#reversing the above conditions using '~'
(~((filedata > 50) & (filedata > 100)))

array([[ True,  True,  True,  True, False,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True, False,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True, False,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True]])

In [132]:
#  1   2   3   4   5 
#  6   7   8   9   10
#  11  12  13  14  15
#  16  17  18  19  20
#  21  22  23  24  25
#  26  27  28  29  30
arr = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20,],[21,22,23,24,25],[26,27,28,29,30]])
print(arr)

# a[2:4,0:2]
#
#

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]
 [26 27 28 29 30]]

In [133]:
#retrieve the elements 11,12,16,17
arr[2:4,0:2]

array([[11, 12],
       [16, 17]])

In [134]:
#retrieve the elements 2,8,14,20
arr[[0,1,2,3],[1,2,3,4]]

array([ 2,  8, 14, 20])

In [135]:
#retrieve the elements 4,5,24,25,29,30
arr[[0,4,5],3:]

array([[ 4,  5],
       [24, 25],
       [29, 30]])

#To get suggestions for NumPy Functions, use np.Tab_key (type np. and press tab key)

# Lec 4:

In [136]:
#Creating 2D Array using arange()

reshape() is a pre-defined function with the help of which we are creating 2- Dimensional Array

In [137]:
ar2 = np.arange(20) #it will create a 1-D Array starting from 0 to 19
ar2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [138]:
#Reshaping the array using reshape()
ar2 = np.arange(20).reshape(4,5)
ar2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [139]:
ar3  =  np.arange(5).reshape(5,1) #iss wale mein since number of elements are odd, therefore only 2 options are possible for reshaping i.e., (1,5) and (5,1)
ar3

array([[0],
       [1],
       [2],
       [3],
       [4]])

In [140]:
matmul1 = ar2.dot(ar3)
print(matmul1)

[[ 30]
 [ 80]
 [130]
 [180]]

In [141]:
#Transpose of a matrix: Intrchange the rows and columns of the matrix
ar2.transpose()

array([[ 0,  5, 10, 15],
       [ 1,  6, 11, 16],
       [ 2,  7, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19]])

In [142]:
ar2.T #another way to Transpose a matrix

array([[ 0,  5, 10, 15],
       [ 1,  6, 11, 16],
       [ 2,  7, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19]])